<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Request date time:</strong>
  <%= @reservation.request_date_time %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reservation.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @reservation.brewery_id %>
</p>

<%= link_to 'Edit', edit_user_brewery_reservation_path(@user, @brewery, @reservation), class: 'btn btn-primary' if @user && @brewery %>
<%= link_to 'Back', user_brewery_reservations_path(@user, @brewery), class: 'btn btn-link' if @user && @brewery %>
<%= link_to 'Edit', edit_user_reservation_path(@user, @reservation), class: 'btn btn-primary' unless @brewery %>
<%= link_to 'Back', user_reservations_path(@user), class: 'btn btn-link' unless @brewery %>
<%= link_to 'Edit', edit_brewery_reservation_path(@brewery, @reservation), class: 'btn btn-primary' unless @user %>
<%= link_to 'Back', brewery_reservations_path(@brewery), class: 'btn btn-link' unless @user %>
