<%= form_for([@user, @brewery]) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :brewery_name %><br>
    <%= f.text_field :brewery_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_country %><br>
    <%= f.text_field :brewery_country, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_location %><br>
    <%= f.text_field :brewery_location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :beer_count %><br>
    <%= f.number_field :beer_count, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
