<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brewery_name %><br>
    <%= f.text_field :brewery_name %>
  </div>
  <div class="field">
    <%= f.label :brewery_country %><br>
    <%= f.text_field :brewery_country %>
  </div>
  <div class="field">
    <%= f.label :brewery_location %><br>
    <%= f.text_field :brewery_location %>
  </div>
  <div class="field">
    <%= f.label :beer_count %><br>
    <%= f.number_field :beer_count %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.number_field :owner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
