<% title @brewery.brewery_name %>
<p>
  <strong>Brewery name:</strong>
  <%= @brewery.brewery_name %>
</p>

<p>
  <strong>Brewery country:</strong>
  <%= @brewery.brewery_country %>
</p>

<p>
  <strong>Brewery location:</strong>
  <%= @brewery.brewery_location %>
</p>

<p>
  <strong>Beer count:</strong>
  <%= @brewery.beer_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @brewery.user_id %>
</p>

<p>
  <strong>Categories:</strong>
  <% @brewery.categories.each do |category| %>
    [<%= category.name %>]
  <% end %>
</p>

<%= link_to 'Edit', edit_user_brewery_path(@user, @brewery), class: 'btn btn-default' if @user %>
<%= link_to 'Back', user_breweries_path(@user), class: 'btn btn-link' if @user %>
