<%= form_for([@user, @brewery, @beer]) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :beer_name %><br>
    <%= f.text_field :beer_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :beer_abv %><br>
    <%= f.number_field :beer_abv, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :beer_ibu %><br>
    <%= f.number_field :beer_ibu, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :beer_description %><br>
    <%= f.text_area :beer_description, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :beer_style %><br>
    <%= f.text_field :beer_style, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
