<p id="notice"><%= notice %></p>

<h1>Listing Beers</h1>

<table>
  <thead>
    <tr>
      <th>Beer name</th>
      <th>Beer abv</th>
      <th>Beer ibu</th>
      <th>Beer description</th>
      <th>Beer style</th>
      <th>Brewery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.beer_name %></td>
        <td><%= beer.beer_abv %></td>
        <td><%= beer.beer_ibu %></td>
        <td><%= beer.beer_description %></td>
        <td><%= beer.beer_style %></td>
        <td><%= beer.brewery_id %></td>
        <td><%= link_to 'Show', [@user, @brewery, beer] %></td>
        <td><%= link_to 'Edit', edit_user_brewery_beer_path(@user, @brewery, beer) %></td>
        <td><%= link_to 'Destroy', [@user, @brewery, beer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_user_brewery_beer_path(@user, @brewery) %>
